
body {
  margin: 100px 0px 0px 0px

}
.container {
  width: auto;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  z-index: 100;
  white-space: pre-wrap;
}

code {
  word-break:break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}
pre {
    white-space: pre-wrap;
}
h2 {
  font-family: "Century Gothic",sans-serif;
}
a {
	display: inline-block;
  color: #99e550;
	transition: all .3s;
  font-weight: bold;
}
a:hover {
	color: #000;
	background-color: #99e550;
  font-weight: bold;
}
.wavebox{
  width: 100%;
  height: 100%;
  /* background: #ddd; */
  position: fixed;
  top: 0;
  overflow: hidden;
}

.wave {
border-color: #99e550;
  border-style: solid;
  height: 150%;
  width: 150%;
  position: absolute;
  top: -25%;
  left: -25%;
}
.wave:nth-child(1) {
  border-radius: 30% 70% 70% 30% / 40% 40% 60% 60% ;
  animation: drift 30000ms infinite linear;
  animation-delay: -10s;
}
.wave:nth-child(2) {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
  animation: drift 50000ms infinite linear;
  animation-delay: -5s;
}
.wave:nth-child(3) {
  border-radius: 44% 56% 17% 83% / 40% 65% 35% 60% ;
  animation: drift 70000ms infinite linear;
  animation-delay: 0s;
}
@keyframes drift {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
