<html>

<head>
  <link rel="stylesheet" href="/kindle-highlights/css.css" type="text/css">
  <meta charset='utf-8'>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body>
  <div class="wavebox">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
  <div class="container">
    <h2><span>My kindle library and highlights</span></h2>
    <p><a class="github-button" href="https://github.com/umihico" data-size="large" data-show-count="true" aria-label="Follow @umihico on GitHub">Follow @umihico</a> <a class="github-button" href="https://github.com/umihico/kindle-highlights"
        data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star umihico/kindle-highlights on GitHub">Star</a> <a class="github-button" href="https://github.com/umihico/kindle-highlights/issues" data-icon="octicon-issue-opened"
        data-size="large" data-show-count="true" aria-label="Issue umihico/kindle-highlights on GitHub">Issue</a></p>
    {{content}}
  </div>
</body>

</html>