<html>

<head>
  <link rel="stylesheet" href="/css.css" type="text/css">
  <meta charset='utf-8'>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
  <div class="wavebox">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
  <div class="container">
    <h3>My kindle library and highlights</h3>
    <h3><a href="https://github.com/umihico/kindle-highlights/">Repository@GitHub</a></h3>
    <p><a class="github-button" href="https://github.com/umihico" data-size="large" data-show-count="true" aria-label="Follow @umihico on GitHub">Follow @umihico</a></p>

    {{content}}

  </div>
</body>

</html>